/* Reset some default styles */

body, h1, h2, h3, p
 {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
   
 background-color: #f0f0f0;

    margin: 0 auto;
  
  max-width: 800px;
}


header {
    
text-align: center;
    
background-color: #333;

    color: #fff;
 
   padding: 20px;
}


nav ul
 {
    list-style: none;
   
 text-align: center;
   
 background-color: #333;
}


nav ul li {

    display: inline;
 
   margin: 0 20px;
}


nav ul li a 
{
    text-decoration: none;

    color: #fff;
}


section {

    padding: 20px;
  
  background-color: #fff;
 
   margin: 10px 0;
}


.project {
    
text-align: center;
    
margin: 10px;
}


footer 
{

    text-align: center;
 
   background-color: #333;
   
 color: #fff;
 
   padding: 10px;

}